<div class="sub-section position-relative" data-name="{{name}}" data-lang="{{currentLocale}}">
  {{#unless viewingAllDocs}}
    {{#if docEn}}
      <button data-sc-category="docs" data-sc-name="Toggle section language" class="btn-link position-absolute right-0 mr-2 mt-2 no-underline en-toggle" alt="toggle section language"><h5 class="h5-mktg m-0">EN</h5></button>
    {{/if}}
  {{/unless}}
  {{{html}}}
</div>
{{#if docEn}}
  {{#unless viewingAllDocs}}
    <div class="sub-section position-relative hidden" data-name="{{name}}" data-lang="en-US">
      <button data-sc-category="docs" data-sc-name="Toggle section language" class="btn-link position-absolute right-0 mr-2 mt-2 no-underline en-toggle" alt="toggle section language"><h5 class="h5-mktg m-0">EN</h5></button>
      {{{docEn.html}}}
    </div>
  {{/unless}}
{{/if}}
