<footer class="footer PRIMER-REMOVE-ME">
  <div class="container-xl clearfix p-6">
    <div class="col-md-12 col-lg-4 float-left p-4 f5">
      <div class="footer-social">
        <ul class="footer-social-list">
          <li><a class="footer-social-icon" href="https://github.com/electron" title="Github Organization"><span
                class="mega-octicon octicon-mark-github vertical-middle"></span></a></li>
          <li><a class="footer-social-icon" href="https://twitter.com/electronjs" title="@electronjs on Twitter"><span
                class="devicon-twitter-plain vertical-middle"></span></a></li>
        </ul>
      </div>
      <nav class="footer-nav">
        <ul class="footer-nav-list m-0">
          <li class="footer-nav-item"><a href="/">Electron</a></li>
          <li class="footer-nav-item"><a href="/docs">{{localized.nav.docs}}</a></li>
          <li class="footer-nav-item"><a href="/releases/stable">{{localized.nav.releases}}</a></li>
          <li class="footer-nav-item"><a href="/blog">{{localized.nav.blog}}</a></li>
          <li class="footer-nav-item"><a href="/apps">{{localized.nav.apps}}</a></li>
          <li class="footer-nav-item"><a href="/governance">{{localized.nav.governance}}</a></li>
          <li class="footer-nav-item"><a href="/community">{{localized.nav.community}}</a></li>
          <li><a class="footer-nav-item"
              href="https://github.com/electron/electron/tree/main/CODE_OF_CONDUCT.md">{{localized.nav.code_of_conduct}}</a>
          </li>
          <li><a class="footer-nav-item"
              href="https://github.com/electron/electron/tree/main/LICENSE">{{localized.nav.license}}</a></li>
          <li><a class="footer-nav-item"
              href="https://github.com/electron/electron/tree/main/SECURITY.md">{{localized.nav.security}}</a></li>
          <li class="footer-nav-item"><a href="/donors">{{localized.nav.donors}}</a></li>
          <li class="footer-nav-item"><a href="/languages">{{localized.nav.languages}}</a></li>
          <li class="footer-nav-item"><a href="/contact">{{localized.nav.contact}}</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-openjs col-md-12 col-lg-8 float-right p-4 f6">
      <img class="footer-openjs-logo mb-4" src="{{ static-asset 'image' '/openjsf.svg'}}" alt="OpenJS Foundation" />
      <p>Copyright <a href="https://openjsf.org">OpenJS Foundation</a> and Electron contributors. All rights
        reserved. The <a href="https://openjsf.org">OpenJS Foundation</a> has registered trademarks and uses trademarks.
        For a list of trademarks of the <a href="https://openjsf.org">OpenJS Foundation</a>, please see our <a
          href="https://trademark-policy.openjsf.org">Trademark Policy</a> and <a
          href="https://trademark-list.openjsf.org">Trademark List</a>. Trademarks and logos not indicated on the <a
          href="https://trademark-list.openjsf.org">list of OpenJS Foundation trademarks</a> are trademarks&trade; or
        registered&reg; trademarks of their respective holders. Use of them does not imply any affiliation with or
        endorsement by them.</p>

      <p><a href="https://openjsf.org">The OpenJS Foundation</a> | <a href="https://terms-of-use.openjsf.org">Terms of
          Use</a> | <a href="https://privacy-policy.openjsf.org">Privacy Policy</a> | <a
          href="https://bylaws.openjsf.org">OpenJS Foundation Bylaws</a> | <a
          href="https://trademark-policy.openjsf.org">Trademark Policy</a> | <a
          href="https://trademark-list.openjsf.org">Trademark List</a> | <a
          href="https://www.linuxfoundation.org/cookies">Cookie Policy</a></p>
    </div>
  </div>
</footer>
