<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta content='#2f3241' name='theme-color' />

  <meta property="og:type" content="website" />

  {{#if page.title}}
    <title>{{page.title}}</title>
    <meta property="og:title" content="{{page.title}}" />
    <meta name="twitter:title" value="{{page.title}}" />
  {{/if}}

  {{#if page.url}}
    <meta property="og:url" content="{{page.url}}" />
    <meta name="twitter:url" value="{{page.url}}" />
  {{/if}}

  {{#if page.description}}
    <meta property="og:description" content="{{page.description}}" />
    <meta name="twitter:description" value="{{page.description}}" />
  {{/if}}

  {{#if page.image}}
    <meta property="og:image" content="{{page.image}}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="{{page.image}}" />
  {{else}}
    <meta name="twitter:card" content="summary">
    <meta property="twitter:image" content="https://www.electronjs.org/{{ static-asset 'image' 'images/electron-icon.png'}}" />
  {{/if}}

  <!-- consumed by scripts/get-localized-strings -->
  <meta name="localized.clipboard.copy" content="{{localized.clipboard.copy}}" />
  <meta name="localized.clipboard.copy_to_clipboard" content="{{localized.clipboard.copy_to_clipboard}}" />
  <meta name="localized.clipboard.copied" content="{{localized.clipboard.copied}}" />
  <meta name="localized.fiddle_launch_button.launch" content="{{localized.fiddle_launch_button.launch}}" />
  <meta name="localized.fiddle_launch_button.launch_in_fiddle" content="{{localized.fiddle_launch_button.launch_in_fiddle}}" />

  <meta name="twitter:site" content="@ElectronJS" />
  <link rel='shortcut icon' href="{{ static-asset 'image' '/favicon.ico'}}" />
  <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="Electron Blog RSS Feed">
  <link rel="alternate" type="application/atom+xml" href="/blog/atom.xml" title="Electron Blog Atom Feed">
  <link rel="alternate" type="application/rss+xml" title="Electron Releases" href="https://electronjs.org/releases.xml" />
  <link rel='stylesheet' href='{{static-asset "css" "index.css"}}'>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <script>
 // https://github.com/iamashley0/dnt-helper/blob/main/index.js
if (typeof Electron === "undefined") {
  var Electron = {};
}
Electron.dntEnabled = function (dnt, ua) {
  "use strict";
  var dntStatus =
    dnt || navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
  var userAgent = ua || navigator.userAgent;
  var anomalousWinVersions = [
    "Windows NT 6.1",
    "Windows NT 6.2",
    "Windows NT 6.3",
  ];
  var fxMatch = userAgent.match(/Firefox\/(\d+)/);
  var ieRegEx = /MSIE|Trident/i;
  var isIE = ieRegEx.test(userAgent);
  var platform = userAgent.match(/Windows.+?(?=;)/g);
  if (isIE && typeof Array.prototype.indexOf !== "function") {
    return false;
  } else if (fxMatch && parseInt(fxMatch[1], 10) < 32) {
    dntStatus = "Unspecified";
  } else if (
    isIE &&
    platform &&
    anomalousWinVersions.indexOf(platform.toString()) !== -1
  ) {
    dntStatus = "Unspecified";
  } else {
    dntStatus = { 0: "Disabled", 1: "Enabled" }[dntStatus] || "Unspecified";
  }
  return dntStatus === "Enabled" ? true : false;
};
// only load if DNT is not enabled
if (Electron && !Electron.dntEnabled()) {
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-160365006-1', 'auto');
    ga('send', 'pageview');
}
  </script>
  {{#eq currentLocale "en-US"}}
    {{> feedback }}
  {{/eq}}
</head>
