{{!< main}}

<main class="PRIMER-REMOVE-ME">
<div class='subtron text-left'>
  <div class='container-lg'>
    <h1>
      <span class="f0-light mr-3 mr-lg-4">{{localized.docs.title}}</span>
    </h1>
  </div>

  <div class='container-lg mt-2'>
    <h4 class="f3-light docs-breadcrumbs">
      <a href='/docs'>Docs</a> /
      {{#if category}}
        {{category}}
      {{else if doc}}
        {{#if doc.category}}
          <a href="/docs/{{doc.category}}">{{doc.categoryFancy}}</a>
          /
        {{/if}}
        <a href="{{doc.href}}">{{doc.title}}</a>

        {{#if viewingDocHistory}}
          / Version History
        {{else}}
          <a href="{{doc.href}}/history">
            <span class="docs-version">
              {{#if doc.isApiDoc}}
                {{electronLatestStableTag}}
              {{else}}
                <span>electron@master ({{electronMasterBranchCommitShort}})</span>
              {{/if}}
            </span>
          </a>
        {{/if}}



      {{else if viewingAllDocs}}
        All
      {{/if}}
    </h4>
  </div>
</div>

<div class='d-flex full-width p-responsive docs strong-headers'>
  <div class="hide-md col-lg-2 p-4">
  </div>

  <div class="col-md-12 col-lg-6 col-xl-7 p-4">
    <div class="markdown-body">{{{body}}}</div>
  </div>

  <div class="hide-lg col-lg-4 col-xl-3 pt-4">
    <div style="position: sticky; top: 24px;">
      <nav class="docs-nav">
        <h1>Table of Contents</h1>
        <div id="docs-table-of-contents">

        </div>
      </nav>
    </div>
  </div>

</div>
</main>
