{{!< main}}

<main class="PRIMER-REMOVE-ME">
<div class='subtron text-left'>
  <div class='container-lg'>
    <h1>
      <span class="f0-light mr-3 mr-lg-4">{{localized.docs.title}}</span>
    </h1>
  </div>

  <div class='container-lg mt-2'>
    <h4 class="f3-light docs-breadcrumbs">
      <a href='/docs'>Docs</a> /
      {{#if category}}
        {{category}}
      {{else if doc}}
        {{#if doc.category}}
          <a href="/docs/{{doc.category}}">{{doc.categoryFancy}}</a>
          /
        {{/if}}
        <a href="{{doc.href}}">{{doc.title}}</a>

        {{#if viewingDocHistory}}
          / {{localized.docs.version_history}}
        {{else}}
          <a href="{{doc.href}}/history">
            <span class="docs-version">
                <span>v{{electronLatestStableVersion}}</span>
            </span>
          </a>
        {{/if}}
      {{/if}}
    </h4>
  </div>
</div>

  {{> new-docs}}

<div class='d-flex full-width p-responsive docs strong-headers'>
  <div class="hide-md col-lg-2 p-4">
    <!-- Left Column -->
  </div>

  <div class="col-lg-12 col-xl-7 pt-4 markdown-body">
    <!-- Middle Column -->
    {{#if isDocPage}}
    <aside class="docs__actions-bar">
      <a class="btn btn-sm btn-outline" href="{{doc.githubUrl}}" role="button">{{localized.docs.propose_change}}</a>
      <a class="btn btn-sm btn-outline" href="{{doc.crowdinUrl}}">{{localized.docs.translate}}</a>
    </aside>
    {{/if}}
    {{{body}}}
  </div>

  <div class="hide-sm hide-md hide-lg col-lg-4 col-xl-3">
    <!-- Right Column -->
    {{#if isDocPage}} <!-- if generated from docs/show.js -->
    <div class="docs__nav-wrapper">
      <nav class="docs__nav">
        <div class="docs__table-of-contents pb-12">

        </div>
      </nav>
    </div>
    {{/if}}
  </div>

</div>
</main>
